---
import ThemeSwitch from 'components/ThemeSwitch.astro'

import '@picocss/pico/scss/pico.scss'
import 'styles/picocss/themes/rpg.scss'

export interface Props {
  title: string
  theme: 'light' | 'dark'
}

const { title, theme } = Astro.props
---

<html lang="en" data-theme={theme}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script type="importmap">
    {
      "imports": {
        "solid-js": "https://esm.sh/solid-js",
        "@modular-forms/solid": "https://esm.sh/@modular-forms/solid"
      }
    }
    </script>
  </head>
  <body>
    <ThemeSwitch theme={theme} />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
